.header-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.header-menu .header-item {
  margin-right: 50px;
  text-transform: uppercase;
}

.header-menu li Link {
  color: #303030;
}